body{
    background-color: #363533;
}

.bg-light-gray{
    background-color: #4e4d4b;
}

.bg-middle-gray{
    background-color: #413e3d;
}

.bg-very-light-gray{
    background-color: #6b6a67;
}

.bg-dark-gray{
    background-color: #363533;
}

.bg-yellow{
    background-color: yellow;
}

.margin-auto{
    margin: 0 auto;
}

.capa{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 8.5rem;
}

.profile-photo{
    top: 5rem;
    left: 6.5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 0.5rem;
}

.formations{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formations-photo{
    height: 3.4rem;
    width: 3.4rem;
}

.post-photo{
    width: 2.5rem;
    height: 2.5rem;
}

.is-loading .skeleton-profile-img, 
                .skeleton-profile-name,
                .skeleton-nick,
                .skeleton-img,
                .skeleton-description{
                    background: #6b6a67;
                    background: linear-gradient(110deg, #6b6a67 8%, #8d8b86 18%, #6b6a67 33%);
                    background-size: 200% 100%;
                    border-radius: 1rem;
                    animation: 1.5s shine linear infinite;
                }

@keyframes shine {
                    to {
                      background-position-x: -200%;
                    }
                  }

.skeleton-description{
    height: 2rem;
    margin-bottom: 1rem;
}

.skeleton-profile-name{
    height: 1rem;
    width: 7.5rem;
}

.skeleton-nick{
    height: 1rem;
    width: 3rem;
}

.menu-mobile{
    display: none;
}

@media(max-width: 414px){
    .main-profile{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        background-color: #363533;
    }

    .profile-photo{
        position: relative !important;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    .card-img-top{
        display: none;
    }

    .card-experiences{
        width: 100% !important;
    }

    .formations{
        width: 4rem !important;
    }

    .formations-ads{
        top: 1rem !important;
    } 

    .mobile{
        background-color: #4e4d4b;
    }

    .pages{
        display: none;
    }

    .logo{
        display: none !important;
    }

    .menu-mobile{
        display: flex;
    }

    .login{
        background-color: #413e3d;
    }
}
